<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%"
       id="m_-6074602412783733384bodyTable"
       style="border-collapse:collapse;height:100%;margin:0;padding:0;width:100%;background-color:#fafafa">
    <tbody>
    <tr>
        <td align="center" valign="top" id="m_-6074602412783733384bodyCell"
            style="height:100%;margin:0;padding:10px;width:100%;border-top:0">
            <table border="0" cellpadding="0" cellspacing="0" width="100%"
                   class="m_-6074602412783733384templateContainer"
                   style="border-collapse:collapse;border:0;max-width:600px!important">
                <tbody>
                <tr>
                    <td valign="top" id="m_-6074602412783733384templatePreheader"
                        style="background:#fafafa none no-repeat center/cover;background-color:#fafafa;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%"
                               class="m_-6074602412783733384mcnTextBlock"
                               style="min-width:100%;border-collapse:collapse">
                            <tbody class="m_-6074602412783733384mcnTextBlockOuter">
                            <tr>
                                <td valign="top" class="m_-6074602412783733384mcnTextBlockInner"
                                    style="padding-top:9px">

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td valign="top" id="m_-6074602412783733384templateHeader"
                        style="background:#ffffff none no-repeat center/cover;background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-bottom:0">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%"
                               class="m_-6074602412783733384mcnImageBlock"
                               style="min-width:100%;border-collapse:collapse">
                            <tbody class="m_-6074602412783733384mcnImageBlockOuter">
                            <tr>
                                <td valign="top" style="padding:0px" class="m_-6074602412783733384mcnImageBlockInner">
                                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0"
                                           class="m_-6074602412783733384mcnImageContentContainer"
                                           style="min-width:100%;border-collapse:collapse">
                                        <tbody>
                                        <tr>
                                            <td class="m_-6074602412783733384mcnImageContent" valign="top"
                                                style="padding-right:0px;padding-left:0px;padding-top:0;padding-bottom:0;text-align:center">


                                                <img align="center" alt=""
                                                     src="https://ci3.googleusercontent.com/proxy/GZWfNofUt0oGGVx-uOLd1y5vcBNeZzN8k9gAaopzEKvqjGK1_FSEzPTsqh4V_dioou9gZgWXHxm5pdnAWRexCZH6ngvTKc-nRsmhC7SGEhDyqYYakv9FPi8r_DGkTH_c9wKUKVcxpFuam2Vzyg4Og4OOVYlHUpPSjkkqpCk=s0-d-e1-ft#https://gallery.mailchimp.com/c00c53143a1a769be3ebd6df5/images/aa755883-481c-4d17-9924-b4620ef348f8.jpg"
                                                     width="600"
                                                     style="max-width:800px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none"
                                                     class="m_-6074602412783733384mcnImage CToWUd a6T" tabindex="0">
                                                <div class="a6S" dir="ltr"
                                                     style="opacity: 0.01; left: 1061.5px; top: 298.5px;">
                                                    <div id=":m2" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button"
                                                         tabindex="0" aria-label="첨부파일() 다운로드" data-tooltip-class="a1V"
                                                         data-tooltip="다운로드">
                                                        <div class="aSK J-J5-Ji aYr"></div>
                                                    </div>
                                                </div>


                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td valign="top" id="m_-6074602412783733384templateBody"
                        style="background:#ffffff none no-repeat center/cover;background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:2px solid #eaeaea;padding-top:0;padding-bottom:9px">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%"
                               class="m_-6074602412783733384mcnTextBlock"
                               style="min-width:100%;border-collapse:collapse">
                            <tbody class="m_-6074602412783733384mcnTextBlockOuter">
                            <tr>
                                <td valign="top" class="m_-6074602412783733384mcnTextBlockInner"
                                    style="padding-top:9px">
                                    <table align="left" border="0" cellpadding="0" cellspacing="0"
                                           style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%"
                                           class="m_-6074602412783733384mcnTextContentContainer">
                                        <tbody>
                                        <tr>
                                            <td valign="top" class="m_-6074602412783733384mcnTextContent"
                                                style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">
                                                <div style="text-align:center;padding-top:30px;padding-bottom:30px;">
                                                    <span style="font-size:13px">
                                                        <span style="font-family:open sans,helvetica neue,helvetica,arial,sans-serif">
                                                        <%= order.buyerName %>님의 주문이 접수되었습니다.&nbsp;<br>
                                                        </span>
                                                    </span>
                                                </div>
                                                <br>

                                                <span style="font-size:14px"><span
                                                            style="color:#333333"><strong>주문자</strong></span></span>
                                                <table border="0" cellpadding="0" cellspacing="0"
                                                       class="m_-6074602412783733384__se_tbl" width="100%"
                                                       style="border-collapse:collapse">
                                                    <tbody>
                                                    <tr>
                                                        <td style="padding:3px 4px 2px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#ebebeb;width:25%;height:28px;background-color:#f7f7f7;border-top:2px solid #999">
                                                            <p style="text-align:left;padding-left:20px;margin:10px 0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%">
                                                                <font color="#555"><span style="font-size:13px"><strong>주문자 이름</strong></span></font>
                                                            </p>
                                                        </td>
                                                        <td style="padding:3px 4px 2px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#ebebeb;width:75%;height:28px;background-color:#fff;border-top:2px solid #999">
                                                            <p style="text-align:right;padding-right:20px;margin:10px 0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%">
                                                                <font color="#000"><span
                                                                            style="font-size:13px"><strong><%= order.buyerName %></strong></span></font>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding:3px 4px 2px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#ebebeb;width:25%;height:28px;background-color:#f7f7f7;border-top:1px solid #777">
                                                            <p style="text-align:left;padding-left:20px;margin:10px 0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%">
                                                                <font color="#555"><span style="font-size:13px"><strong>주문자 휴대폰 번호</strong></span></font>
                                                            </p>
                                                        </td>
                                                        <td style="padding:3px 4px 2px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#ebebeb;width:75%;height:28px;background-color:#fff;border-top:1px solid #777">
                                                            <p style="text-align:right;padding-right:20px;margin:10px 0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%">
                                                                <font color="#000"><span
                                                                            style="font-size:13px"><strong><%= order.buyerPhone %></strong></span></font>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding:3px 4px 2px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#ebebeb;width:25%;height:28px;background-color:#f7f7f7;border-top:1px solid #777">
                                                            <p style="text-align:left;padding-left:20px;margin:10px 0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%">
                                                                <font color="#555"><span style="font-size:13px"><strong>주문자 이메일</strong></span></font>
                                                            </p>
                                                        </td>
                                                        <td style="padding:3px 4px 2px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#ebebeb;width:75%;height:28px;background-color:#fff;border-top:1px solid #777">
                                                            <p style="text-align:right;padding-right:20px;margin:10px 0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%">
                                                                <font color="#000"><span
                                                                            style="font-size:13px"><strong><%= order.buyerEmail %></strong></span></font>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>

                                                <span style="font-size:14px"><span
                                                            style="color:#333333"><strong>수령인</strong></span></span>
                                                <table border="0" cellpadding="0" cellspacing="0"
                                                       class="m_-6074602412783733384__se_tbl" width="100%"
                                                       style="border-collapse:collapse">
                                                    <tbody>
                                                    <tr>
                                                        <td style="padding:3px 4px 2px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#ebebeb;width:25%;height:28px;background-color:#f7f7f7;border-top:1px solid #777">
                                                            <p style="text-align:left;padding-left:20px;margin:10px 0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%">
                                                                <font color="#555"><span style="font-size:13px"><strong>수령인</strong></span></font>
                                                            </p>
                                                        </td>
                                                        <td style="padding:3px 4px 2px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#ebebeb;width:75%;height:28px;background-color:#fff;border-top:1px solid #777">
                                                            <p style="text-align:right;padding-right:20px;margin:10px 0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%">
                                                                <font color="#000"><span
                                                                            style="font-size:13px"><strong><%= order.receiverName %></strong></span></font>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding:3px 4px 2px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#ebebeb;width:25%;height:28px;background-color:#f7f7f7;border-top:1px solid #777">
                                                            <p style="text-align:left;padding-left:20px;margin:10px 0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%">
                                                                <font color="#555"><span style="font-size:13px"><strong>수령인 전화 번호</strong></span></font>
                                                            </p>
                                                        </td>
                                                        <td style="padding:3px 4px 2px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#ebebeb;width:75%;height:28px;background-color:#fff;border-top:1px solid #777">
                                                            <p style="text-align:right;padding-right:20px;margin:10px 0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%">
                                                                <font color="#000"><span
                                                                            style="font-size:13px"><strong><%= order.receiverTel %></strong></span></font>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding:3px 4px 2px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#ebebeb;width:25%;height:28px;background-color:#f7f7f7;border-top:1px solid #777">
                                                            <p style="text-align:left;padding-left:20px;margin:10px 0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%">
                                                                <font color="#555"><span style="font-size:13px"><strong>배송지</strong></span></font>
                                                            </p>
                                                        </td>
                                                        <td style="padding:3px 4px 2px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#ebebeb;width:75%;height:28px;background-color:#fff;border-top:1px solid #777">
                                                            <p style="text-align:right;padding-right:20px;margin:10px 0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%">
                                                                <font color="#000"><span
                                                                            style="font-size:13px"><strong><%= order.address %></strong></span></font>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding:3px 4px 2px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#ebebeb;width:25%;height:28px;background-color:#f7f7f7;border-top:1px solid #777">
                                                            <p style="text-align:left;padding-left:20px;margin:10px 0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%">
                                                                <font color="#555"><span style="font-size:13px"><strong>배송지 우편번호</strong></span></font>
                                                            </p>
                                                        </td>
                                                        <td style="padding:3px 4px 2px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#ebebeb;width:75%;height:28px;background-color:#fff;border-top:1px solid #777">
                                                            <p style="text-align:right;padding-right:20px;margin:10px 0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%">
                                                                <font color="#000"><span
                                                                            style="font-size:13px"><strong><%= order.zipCode %></strong></span></font>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>

                                                <span style="font-size:14px"><span
                                                            style="color:#333333"><strong>주문서</strong></span></span>
                                                <table border="0" cellpadding="0" cellspacing="0"
                                                       class="m_-6074602412783733384__se_tbl" width="100%"
                                                       style="border-collapse:collapse">
                                                    <tbody>
                                                    <tr>
                                                        <td style="padding:3px 4px 2px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#ebebeb;width:25%;height:28px;background-color:#f7f7f7;border-top:1px solid #777">
                                                            <p style="text-align:left;padding-left:20px;margin:10px 0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%">
                                                                <font color="#555"><span style="font-size:13px"><strong>주문번호</strong></span></font>
                                                            </p>
                                                        </td>
                                                        <td style="padding:3px 4px 2px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#ebebeb;width:75%;height:28px;background-color:#fff;border-top:1px solid #777">
                                                            <p style="text-align:right;padding-right:20px;margin:10px 0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%">
                                                                <font color="#000"><span
                                                                            style="font-size:13px"><strong><%= order.id %></strong></span></font>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding:3px 4px 2px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#ebebeb;width:25%;height:28px;background-color:#f7f7f7;border-top:1px solid #777">
                                                            <p style="text-align:left;padding-left:20px;margin:10px 0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%">
                                                                <font color="#555"><span style="font-size:13px"><strong>주문명</strong></span></font>
                                                            </p>
                                                        </td>
                                                        <td style="padding:3px 4px 2px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#ebebeb;width:75%;height:28px;background-color:#fff;border-top:1px solid #777">
                                                            <p style="text-align:right;padding-right:20px;margin:10px 0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%">
                                                                <font color="#000"><span
                                                                            style="font-size:13px">
                                                                        <strong><%= order.products.length > 1 ? `${order.products[0].name} 외 ${order.products.length - 1}` : order.products[0].name %></strong></span></font>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding:3px 4px 2px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#ebebeb;width:25%;height:28px;background-color:#f7f7f7;border-top:1px solid #777">
                                                            <p style="text-align:left;padding-left:20px;margin:10px 0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%">
                                                                <font color="#555"><span style="font-size:13px"><strong>결제수단</strong></span></font>
                                                            </p>
                                                        </td>
                                                        <td style="padding:3px 4px 2px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#ebebeb;width:75%;height:28px;background-color:#fff;border-top:1px solid #777">
                                                            <p style="text-align:right;padding-right:20px;margin:10px 0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%">
                                                                <font color="#000"><span style="font-size:13px"><strong>
                                                                            <% if(order.method === 'card'){ %>
                                                                                체크/신용카드
                                                                            <% }else if(order.method === 'vbank'){ %>
                                                                                가상계좌 이체
                                                                            <% } %>
                                                                        </strong></span></font>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding:3px 4px 2px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#ebebeb;width:25%;height:28px;background-color:#f7f7f7;border-top:1px solid #777">
                                                            <p style="text-align:left;padding-left:20px;margin:10px 0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%">
                                                                <font color="#555"><span style="font-size:13px"><strong>결제금액</strong></span></font>
                                                            </p>
                                                        </td>
                                                        <td style="padding:3px 4px 2px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#ebebeb;width:75%;height:28px;background-color:#fff;border-top:1px solid #777">
                                                            <p style="text-align:right;padding-right:20px;margin:10px 0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%">
                                                                <font color="#000"><span
                                                                            style="font-size:13px"><strong><%= order.amount.toLocaleString() %>원</strong></span></font>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding:3px 4px 2px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#ebebeb;width:25%;height:28px;background-color:#f7f7f7;border-top:1px solid #777;border-bottom:1px solid #999">
                                                            <p style="text-align:left;padding-left:20px;margin:10px 0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%">
                                                                <font color="#555"><span style="font-size:13px"><strong>주문상태</strong></span></font>
                                                            </p>
                                                        </td>
                                                        <td style="padding:3px 4px 2px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#ebebeb;width:75%;height:28px;background-color:#fff;border-top:1px solid #777;border-bottom:1px solid #999">
                                                            <p style="text-align:right;padding-right:20px;margin:10px 0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%">
                                                                <font color="#000"><span style="font-size:13px">
                                                                        <strong>
                                                                            <% if(status == 'ready'){ %>
                                                                                가상계좌 발급
                                                                            <% }else if(status == 'paid'){ %>
                                                                                결제완료
                                                                            <% }else{ %>
                                                                            <% } %>
                                                                        </strong></span>
                                                                </font>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>

                                                <div style="text-align:center"><br>
                                                    <br>
                                                    <span style="font-size:13px"><span
                                                                style="font-family:open sans,helvetica neue,helvetica,arial,sans-serif"><strong>직구로운 생활을</strong>를 이용해 주셔서 감사합니다.</span></span><br>
                                                    &nbsp;
                                                </div>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td valign="top" id="m_-6074602412783733384templateFooter"
                        style="background:#212121 none no-repeat center/cover;background-color:#212121;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%"
                               class="m_-6074602412783733384mcnTextBlock"
                               style="min-width:100%;border-collapse:collapse">
                            <tbody class="m_-6074602412783733384mcnTextBlockOuter">
                            <tr>
                                <td valign="top" class="m_-6074602412783733384mcnTextBlockInner"
                                    style="padding-top:9px">


                                    <table align="left" border="0" cellpadding="0" cellspacing="0"
                                           style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%"
                                           class="m_-6074602412783733384mcnTextContentContainer">
                                        <tbody>
                                        <tr>

                                            <td valign="top" class="m_-6074602412783733384mcnTextContent"
                                                style="padding:0px 18px 9px;color:#ffffff;word-break:break-word;font-family:Helvetica;font-size:12px;line-height:150%;text-align:center">

                            <span style="font-family:roboto,helvetica neue,helvetica,arial,sans-serif"><span
                                        style="color:#d3d3d3"><span
                                            style="font-size:13px">문의사항이 있으실 경우 고객센터로 문의 바랍니다.</span></span><br>
<br>
<span style="font-size:15px"><strong>고객센터: 02-2088-0072</strong></span></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
